.button {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 502px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dfe5ec;
  border-radius: 5px;

  .button__cheap, .button__fast, .button__optimal {
    transition: all .5s;
    flex-grow: 1;
    cursor: pointer;
    color: #4a4a4a;
  
    &:nth-child(-n+2) {
      border-right: 1px solid #dfe5ec;
    } 

    &:hover {
      transform: scale(1.03);
    }

    span {
      display: block;
      padding: 15px;
      text-align: center;

      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  .button__cheap {
    border-radius: 5px 0 0 5px;
  }

  .button__optimal {
    border-radius: 0 5px 5px 0;
  }

  .active {
    background: #2196F3;
    color: #FFFFFF;
  }
}