.content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  & > div:last-child {
    margin-left: 20px;
  }
}


.logo {
  margin: 35px auto;
  text-align: center;

/*  animation-name: rotation;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

   @keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
  } */
}